<%= form_with(url: admin_story_path, model: story, local: true) do |form| %>
<% if story.errors.any? %>
<div class="error" id="error_explanation">
  <h2><%= pluralize(story.errors.count, "error") %> Не получается сохранить историю:</h2>
  <ul>
    <% story.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class='form_content admin'>
  <div class="field">
    <div class='label'><%= form.label :name, 'Имя' %></div>
    <%= form.text_field :name, :class => 'input' %>
  </div>

  <div class="field">
    <div class='label'><%= form.label :city, 'Город' %></div>
    <%= form.text_field :city, :class => 'input' %>
  </div>

  <div class="field">
    <div class='label'><%= form.label :age, 'Возраст' %></div>
    <%= form.number_field :age, :class => 'input' %>
  </div>

  <div class="field">
    <div class='label'><%= form.label :content, 'История' %></div>
    <%= form.text_area :content, rows: "6", :class => 'textarea' %>
  </div>

  <div class="field">
    <div class='label inline'><%= form.label :is_published, 'Опубликовано' %></div>
    <%= form.check_box :is_published %>
  </div>

  <div class="actions">
    <%= form.submit  value='Сохранить', :class => 'btn' %>
  </div>
</div>
<% end %>