<%= form_with(url: admin_story_path, model: story, local: true) do |form| %>
<% if story.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

  <ul>
    <% story.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<div class="field">
  <%= form.label :age %>
  <%= form.number_field :age %>
</div>

<div class="field">
  <%= form.label :content %>
  <%= form.text_area :content %>
</div>

<div class="field">
  <%= form.label :allow_public_read %>
  <%= form.check_box :allow_public_read %>
</div>

<div class="field">
  <%= form.label :is_published %>
  <%= form.check_box :is_published %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>