<p id="notice"><%= notice %></p>

<h2>Истории</h2>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Город</th>
      <th>Возраст</th>
      <th>История</th>
      <th>Можно прочитать на ивенте?</th>
      <th>Опубликована?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
    <tr>
      <td><%= story.name %></td>
      <td><%= story.city %></td>
      <td><%= story.age %></td>
      <td><%= story.content.truncate_words(4, omission: '').sub!(/[?.!,;]?$/, '') %></td>
      <td><%= story.allow_public_read ? 'да' : 'нет' %></td>
      <td><%= story.is_published ? 'да' : 'нет' %></td>
      <td><%= link_to 'Посмотреть', admin_story_path(story) %></td>
      <td><%= link_to 'Редактировать', edit_admin_story_path(story) %></td>
      <td><%= link_to 'Удалить', admin_story_path(story), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>