<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Город:</strong>
  <%= @story.city %>
</p>

<p>
  <strong>Возраст:</strong>
  <%= @story.age %>
</p>

<p>
  <strong>История:</strong>
  <%= @story.content %>
</p>

<p>
  <strong>Опубликовано?</strong>
  <%= @story.is_published %>
</p>

<%= link_to 'Edit', edit_admin_story_path(@story) %> |
<%= link_to 'Back', admin_stories_path %>