<div class="first-screen">
  <%= render 'common/header' %>
  <div class="text">
    ЛАВР
  </div>
</div>
<div>
  <section id="about" class='about'>
    <div class="content-wrapper">
      <h2 class="main_header">
        Не ходи за мной
      </h2>
      <p>&laquo;Лавр&raquo;&nbsp;&mdash; трансмедийный проект о&nbsp;сталкинге. О&nbsp;нежелательном, навязчивом внимании, преследовании. Мир сильно изменился, из&nbsp;анонимной среды обитания он&nbsp;превратился в&nbsp;пространство, где каждый может узнать о&nbsp;тебе всё. Цифровая прозрачность, доступность любой информации&nbsp;&mdash; наша новая реальность, к&nbsp;которой мы&nbsp;пока не&nbsp;сумели адаптироваться. Этика&nbsp;&mdash; не&nbsp;технология, она не&nbsp;успевает меняться так быстро. Пока мы&nbsp;не&nbsp;поняли устройства новых личных границ, мы&nbsp;продолжаем пользоваться ими по&nbsp;своему усмотрению. </p>
      <p>В&nbsp;первую очередь это игровой фильм&nbsp;&mdash; о&nbsp;преследовании, с&nbsp;которым может столкнуться каждый. О&nbsp;навязчивом, переходящем привычные нам границы способе привлечении внимания и&nbsp;демонстрации власти. О&nbsp;новой прозрачности и&nbsp;отсутствии приватности. И&nbsp;о&nbsp;невозможности сделать с&nbsp;этим что-либо в&nbsp;рамках существующей системы. Работая над сценарием, мы&nbsp;опирались на&nbsp;опыт и&nbsp;истории людей, которые прошли через такое вторжение в&nbsp;свою жизнь или испытывают его сейчас, а&nbsp;также постарались разобраться в&nbsp;мотивах преследователей. </p>
      <p>Поддержать съёмки фильма можно <a href='#'>на&nbsp;краудфандинговой платформе &laquo;Планета&raquo;</a>. Её&nbsp;слоган&nbsp;&mdash; &laquo;Не&nbsp;ходи за&nbsp;мной&raquo; и&nbsp;она о&nbsp;силе и&nbsp;смелости, которая необходима для того, чтобы дать преследователю вербальный отпор, и&nbsp;о&nbsp;законодательной системе, которая не&nbsp;видит в&nbsp;феномене преследования проблемы. Мы&nbsp;собирали лоты, которые отражали&nbsp;бы наши ценности,&nbsp;&mdash; вы&nbsp;найдете их&nbsp;на&nbsp;странице проекта. </p>
      <p>Авторы проекта: Егор Исаев, Анна Беркова</p>
      <div class="btn-wrap">
        <div class='btn'>Поддержать</div>
      </div>
    </div>
  </section>

  <section id="event" class="event black-bg">
    <div class="content-wrapper">
      <h2 class="main_header">
        Сталкинг. Первая серия
      </h2>

      <p>
        Режиссёр: Вера Пирогова
      </p>
      <p>Интервью, взятые в&nbsp;ходе девелопмента фильма, стали основой для документального спектакля, показ которого пройдёт 11&nbsp;апреля в&nbsp;12:00&nbsp;в Театре. док. Спектакль сделан в&nbsp;технике вербатима&nbsp;&mdash; это интервью, дословно воспроизведенные актерами на&nbsp;сцене. Это монологи людей, которые сталкивались с&nbsp;преследованием, и&nbsp;тех, кто сам осуществлял подобные действия, грубо нарушая чужие границы и&nbsp;не&nbsp;видя в&nbsp;этом проблемы. Истории разные&nbsp;&mdash; странные и&nbsp;местами смешные, неоднозначные и&nbsp;романтичные. Страшные. Герои по-разному переживают ситуацию, кто-то с&nbsp;юмором, кто-то с&nbsp;пугающим хладнокровием, кто-то не&nbsp;можем справиться с&nbsp;тревожностью до&nbsp;сих пор.</p>
      <p>Мы&nbsp;развиваем не&nbsp;похожие друг на&nbsp;друга истории, стараясь рассмотреть проблему со&nbsp;всех сторон и&nbsp;вместе понять, как жить в&nbsp;мире, где кто угодно может узнать о&nbsp;тебе все, как защитить себя от&nbsp;этого и&nbsp;где все-таки та&nbsp;грань, в&nbsp;проявлении знаков внимания, переходя которую человек начинает представлять угрозу.</p>
      <p>11&nbsp;апреля проводится первый рабочий показ спектакля, далее, весной, будут проведены еще несколько серий показов, каждый будет включать в&nbsp;себя новые истории, не&nbsp;рассказанные ранее.</p>

      <div class="register">
        <div class='info_block'>
          <div class="title">
            Дата и время
          </div>
          <div class="info">
            11 апреля 2021, 12:00
          </div>
        </div>
        <div class="line"></div>
        <div class='info_block'>
          <div class="title">
            Место
          </div>
          <div class="info">
            Театр.doc на острове, Садовническая набережная, 69
          </div>
        </div>
        <div class="line"></div>
        <a href="https://teatrdoc.ru/schedule/1076/" class="btn">
          Билеты
        </a>
      </div>
    </div>
  </section>

  <section id="stories" class="stories">
    <div class="content-wrapper">
      <h2 class="main_header">
        Истории
      </h2>
      <p>Мы&nbsp;всегда просим друг друга написать, когда доберемся до&nbsp;дома, не&nbsp;садимся на&nbsp;переднее сиденье такси, баним незнакомцев в&nbsp;инстаграме&nbsp;&mdash; и&nbsp;это наша повседневность. Мы&nbsp;вынуждены жить, постоянно помня о&nbsp;том, что кто-то в&nbsp;любой момент может нарушить наши границы и&nbsp;даже не&nbsp;осознать, что в&nbsp;этом есть какая-то проблема. Если в&nbsp;вас это откликается&nbsp;&mdash; напишите. Давайте слушать друг-друга.</p>
      <div class="btn-wrap">
        <%= link_to "Поделиться", new_story_path, class: 'btn' %>
      </div>

      <% @stories.each_with_index do |story, index| %>
      <div class="stories-block">
        <div class="story <%= index%2 == 1 ? 'right' : '' %>">
          <div class="text">
            <%= story.content %>
          </div>
          <div class="author">
            <%= author_info(story) %>
          </div>
        </div>
      </div>
      <% end %>

      <% if @stories.present? %>
      <div class="btn-wrap">
        <%= link_to "Все истории", stories_path, class: 'btn' %>
      </div>
      <div class="in_case_of">
        <p>Если с&nbsp;вами произошла подобная история и&nbsp;вы&nbsp;не&nbsp;знаете, куда обратиться&nbsp;&mdash; вот проекты, которые могут вам помочь.</p>
        <div class="links">
          <a href="https://nasiliu.net/">Насилию.нет</a>
          <a href="https://tineodna.ru/">ТыНеОдна</a>
          <a href="http://www.sisters-help.ru/">Сестры</a>
        </div>
      </div>
    </div>
    <% end %>
</div>
</section>

<%= render 'common/footer' %>
</div>