<%= form_with(model: story, local: true, class: 'form') do |form| %>
<% if story.errors.any? %>
<div class="error" id="error_explanation">
  <h2>История не может быть отправлена:</h2>

  <ul>
    <% story.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class='form_content'>
  <div class="form__group field">
    <%= form.text_field :name, :class => 'form__field', :placeholder => 'Имя' %>

    <div class='form__label'><%= form.label :name, 'Имя' %></div>
  </div>

  <div class="form__group field">
    <%= form.text_field :city, :class => 'form__field', :placeholder => 'Город' %>

    <div class='form__label'><%= form.label :city, 'Город' %></div>
  </div>

  <div class="form__group field">
    <%= form.text_field :age, :class => 'form__field', :placeholder => 'Сколько вам лет?' %>

    <div class='form__label'><%= form.label :age, 'Сколько вам лет?' %></div>
  </div>

  <div class="form__group field">
    <%= form.text_area :content, :class => 'form__field text_area', :placeholder => 'Ваша история', rows: 1 %>

    <div class='form__label'><%= form.label :content, 'Ваша история' %></div>
  </div>

  <div class="field checkbox">
    <%= form.check_box :allow_public_read %>
    <%= form.label :allow_public_read, 'Я разрешаю вам зачитать мою историю на ЛАВР EVENT', :class => 'checkbox_text' %>
  </div>

  <div class="actions">
    <%= form.submit value='Отправить', :class => 'btn' %>
  </div>
</div>
<% end %>