<%= form_with(model: story, local: true) do |form| %>
<% if story.errors.any? %>
<div class="error" id="error_explanation">
  <h2>История не может быть отправлена:</h2>

  <ul>
    <% story.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :Имя %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :Город %>
  <%= form.text_field :city %>
</div>

<div class="field">
  <%= form.label :'Сколько вам лет?' %>
  <%= form.number_field :age %>
</div>

<div class="field">
  <%= form.label :'Ваша история' %>
  <%= form.text_area :content %>
</div>

<div class="field">
  <%= form.check_box :allow_public_read %>
  <%= form.label :'Я разрешаю вам зачитать мою историю на ЛАВР EVENT' %>
</div>

<div class="actions">
  <%= form.submit value='Отправить'%>
</div>
<% end %>