<%= render 'common/header' %>

<section class="black-bg">
  <div class="content-wrapper">
    <h2 class="main_header">
      Истории
    </h2>
    <p>Мы&nbsp;всегда просим друг друга написать, когда доберемся до&nbsp;дома, не&nbsp;садимся на&nbsp;переднее сиденье такси, баним незнакомцев в&nbsp;инстаграме&nbsp;&mdash; и&nbsp;это наша повседневность. Мы&nbsp;вынуждены жить, постоянно помня о&nbsp;том, что кто-то в&nbsp;любой момент может нарушить наши границы и&nbsp;даже не&nbsp;осознать, что в&nbsp;этом есть какая-то проблема. Если в&nbsp;вас это откликается&nbsp;&mdash; напишите. Давайте слушать друг-друга.</p>
    <div class="btn-wrap">
      <%= link_to "Поделиться", new_story_path, class: 'btn' %>
    </div>
  </div>

</section>
<section id="stories" class="stories">
  <div class="content-wrapper">
    <h2 class="main_header">
      Ваши истории
    </h2>
    <% @stories.each_with_index do |story, index| %>
    <div class="stories-block">
      <div class="story <%= index%2 == 1 ? 'right' : '' %>">
        <div class="text">
          <%= story.content %>
        </div>
        <div class="author">
          <%= author_info(story) %>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate @stories %>
  </div>
</section>

<%= render 'common/footer' %>