<%= render 'common/header' %>

<section class="black-bg">
  <div class="content-wrapper">
    <h2 class="main_header">
      Истории
    </h2>
    <p>
      Множество девушек сталкивались с&nbsp;преследованием, однако в&nbsp;обществе не&nbsp;принято публично рассказывать об&nbsp;этом. Мы&nbsp;хотим придать огласку этой проблеме, поэтому если вам есть что рассказать, вы&nbsp;можете помочь нам и&nbsp;поделиться своей историей (можно анонимно).
    </p>
    <div class="btn-wrap">
      <%= link_to "Поделиться", new_story_path, class: 'btn' %>
    </div>
  </div>

</section>
<section id="stories" class="stories">
  <div class="content-wrapper">
    <h2 class="main_header">
      Ваши истории
    </h2>
    <% @stories.each_with_index do |story, index| %>
    <div class="stories-block">
      <div class="story <%= index%2 == 1 ? 'right' : '' %>">
        <div class="text">
          <%= story.content %>
        </div>
        <div class="author">
          <%= author_info(story) %>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate @stories %>
  </div>
</section>

<%= render 'common/footer' %>