<div class='new_story black-bg'>
  <%= render 'common/header' %>

  <div class='content-wrapper'>
    <h2 class='main_header'>Поделись своей историей</h2>

    <%= render 'form', story: @story%>
  </div>
  <%= render 'common/footer' %>
</div>

<% if notice %>
<div class='popup_wrapper'>
  <div class="popup">
    <div class="popup_content">
      <%= notice %>
      <%= link_to "Ок", new_story_path, class: 'btn' %>
    </div>
  </div>
</div>
<% end %>