<!DOCTYPE html>
<html>

<head>
  <title>Л А В Р</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Л А В Р">
  <meta property="og:description" content="Лавр — проект о жертвах сталкинга.">
  <meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
  <meta property="og:url" content="../../assets/social_media.png">


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>

<body>
  <%= yield %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/0703e88282.js" crossorigin="anonymous"></script>
</body>

</html>